<!-- <p>checkout works!</p> -->

<h3>Cart Details</h3>

<div class="container">

    <div class="mx-auto" style="height: 50px;"></div>
    <div class="row">
        <!-- <div class="col-3"></div> -->
        <div class="mx-auto" style="width: 100px;"></div>
        <div class="col">
            <h1>Products in the Cart</h1>
            
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"><h6>Product</h6></th>
                        <th scope="col"><h6></h6></th>
                        <th scope="col"><h6>Price</h6></th>
                        <th scope="col"><h6>Quantity</h6></th>
                        <th scope="col"><h6>Subtotal</h6></th>
                        <th scope="col"><h6></h6></th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cartItem of cartItems; let i = index">                        
                        <th>
                            <div *ngFor="let productImageOrg of productImagesOrg; let j = index">                            
                                <img *ngIf="productImageOrg.product_image_id==cartItem.cart_product_image_id"
                                width="100%" [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,' +productImageOrg.product_product_image)">
                            </div>                            
                        </th>
                        <td>
                            <br>{{cartItem.cart_product_name}}
                            <br>Brand: {{cartItem.cart_product_brand}}
                            <br>Status: 
                                <div *ngIf="cartItem.cart_product_status">Available</div>
                                <div *ngIf="!cartItem.cart_product_status">Not Available</div>
                             <br>
                        </td>
                        
                        <td>{{cartItem.cart_product_price}}</td>
                        <td>{{cartItem.cart_product_quantity}}</td>
                        <td>{{cartItem.cart_product_subtotal}}</td>
                        <td>
                            <button class="btn btn" (click)="refreshTheCart()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                </svg>                             
                            </button>
                            &nbsp;
                            <button class="btn btn" (click)="removeFromCart(cartItem.cart_id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>                                
                            </button>
                        </td>                        
                        
                    </tr>                                        
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td><h6>
                            <button routerLink="" (click)="continueShopping()">
                                <b><</b> Continue Shopping
                            </button>
                        </h6></td>
                        <td><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                            
                        </h6></td>
                        <td><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                              
                        </h6></td>
                        <td><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </h6></td>
                        <td><h6>Total: ${{totalAmount}}</h6> &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button routerLink="" (click)="checkOut()">
                                Checkout <b>></b>
                            </button>
                        </h6></td>
                    </tr>
                </tbody>                
            </table>
            
        </div>
        <!-- <div class="col-3"></div> -->
        <div class="mx-auto" style="width: 100px;"></div>
    </div>
    <div class="mx-auto" style="height: 50px;"></div>

</div>

